<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/404.css">
    <title>Internal Error!</title>
</head>
<body>
    <div class="not-found-notice">
        <h1>500</h1>
        <h2>An error has occurred whilst processing your request.</h2>
        <a href="/">Return Home</a>
    </div>
</body>
</html>