<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <title>
        Create Category
    </title>
</head>
<body>
    <h1 class="category-heading">
        Create Category
    </h1>

    <%- include("partials/errors.ejs", { errors: locals.errors }) %>

    <form action="/createCategory" method="POST" class="create-category-form">
        <div class="form-row">
            <label for="category">
                Category Name:
            </label>
            <input type="text" name="name" id="category">
        </div>

        <button type="submit">Create Category</button>
    </form>

    <a href="/" class="home-button">
        <img src="/icons/home.svg" alt="Go back to the homepage">
    </a>
</body>
</html>