body { 
    display: grid;
    place-items: center;
}

.not-found-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.not-found-notice > h1 {
    font-size: var(--fs-xxl);
    line-height: 1;
    margin-bottom: 0.5rem;
}

.not-found-notice > h2 {
    margin-bottom: 1rem;
}

.not-found-notice > a {
    text-decoration: underline;
    font-style: italic;
}